*{
    font-family: 'Roboto';
}

.forms{
    margin-left:20%;
    margin-right: 20%;
    border: 2px solid #7ba5f1;
    padding-left: 10%;
    margin-top: 2%;
    border-radius: 1rem;
    margin-bottom: 2%;

}
img{
    margin-top: 5%;
    width: 300px;
    height:400px;
    margin-left:20%;
    margin-bottom:4%;

}
ion-content{
    --padding-start: 4%;
    --padding-end:4%;

}
.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    border: 2px solid #7ba5f1;
    box-shadow: none;
}
.uppercase{
    text-transform: uppercase;
  }
.col{
    height:100%;
}
.forms ion-row{
    margin-bottom: 2%;
    
}

ion-input{
    width:500px !important;
}
ion-select{
    width: 500px !important;

}
ion-textarea{
    width: 500px !important;
    height: 80px !important;
}