*{
    font-family: 'Roboto';
}

.forms{
    margin-left:20%;
    margin-right: 20%;
    border: 2px solid #7ba5f1;
    padding-left: 10%;
    margin-top: 2%;
    border-radius: 1rem;
    margin-bottom: 2%;
    

}
.button{
    --background: #5174b4;
}
.book-img{
    margin-top: 5%;
    width: 300px;
    height:400px;
    margin-left:20%;
    margin-bottom:4%;

}
ion-content{
    padding: 4%;
    --overflow: auto;

}
.book-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    border: 2px solid #7ba5f1;
    box-shadow: none;
}
.uppercase{
    text-transform: uppercase;
  }
.col{
    height:100%;
    margin-bottom: 5%;
}
.forms ion-row{
    margin-bottom: 2%;
    
}

ion-input{
    width:500px !important;
}
ion-select{
    width: 500px !important;

}
ion-textarea{
    width: 500px !important;
    height: 80px !important;
}

.client-list{
    margin-bottom: 5%;
}
.menu-fb{
    color: #7ba5f1;
}
.menu-sb{
    color: #7c7c7c;
}
.menu ion-button:hover {
    background-color: #7ba5f1; 
    color: white; 
}
.client-card{
    border: 2px solid #7ba5f1;
    margin-bottom:2%;
}
.lending-card{
    border: 2px solid #7ba5f1;
    margin-bottom:2%;
    padding: 1%;
}
.lending-content{
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.lending-info{
    width: 50%;
    padding-left: 3%;
}
.lending-img{
    width: 50%;
}